{% extends "layout/base.html" %}

{% block content %}
  {% include "partial/user_profile.html" %}

    <section class="columns is-gapless is-mobile">
      <div class="column"><hr></div>
      <div class="column has-text-centered">
        <p class="title is-3 pt-2 has-text-info is-hidden-mobile">My Poems</p>
        <p class="title is-6 pt-4 has-text-info is-hidden-desktop">My Poems</p>
      </div>
      <div class="column"><hr></div>
    </section>

  {% for poem in poems %}
    {% include "partial/poem.html" %}
  {% endfor %}
{% endblock %}