.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

main {
    margin-top: 5rem;
}

.article-content {
    white-space: pre-line;
}