{% extends "layout/base.html" %}

{% block content %}
    {% include 'forms/searchs/search_poem_form.html' %}
    {% if poems|length < 1 %}
        <article class="message is-info box mt-5">
            <div class="message-body">
            <strong>No results found</strong>
            </div>
        </article>
    {% else %}
        {% for poem in poems %}
            {% include "partial/poem.html" %}
        {% endfor %}
    {% endif %}


    {% include 'partial/pagination.html' %}
    
{% endblock %}
