<aside class="menu box">
    <p class="menu-label">
      Main
    </p>
    <ul class="menu-list">
      <li><a>Dashboard</a></li>
      <li><a>Messages</a></li>
    </ul>
    <p class="menu-label">
        Categories
      </p>
      <ul class="menu-list">
        <li><a>Create Category</a></li>
        <li><a>Update Category</a></li>
      </ul>
    <p class="menu-label">
      Poems
    </p>
    <ul class="menu-list">
      <li><a>Create Poem</a></li>
      <li><a>Update Poem</a></li>
      <li><a>Manage Comments</a></li>
    </ul>
    <p class="menu-label">
      Users
    </p>
    <ul class="menu-list">
      <li><a>Followers</a></li>
      <li><a>Following</a></li>
    </ul>
  </aside>