<form class="box"  action="" method="post">
    {{ form.hidden_tag() }}
    <h2 class="has-text-centered title">Sign In</h2>
    <div class="field">
        {{ form.username.label(class_="label") }}
        <p class="control has-icons-left has-icons-right">
        {{ form.username(class_="input") }}
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        {% for error in form.username.errors %}
        <p class="help is-danger">[{{ error }}]</p>
        {% endfor %}
        </p>
    </div>
    <div class="field">
        {{ form.password.label(class_="label") }}
        <p class="control has-icons-left has-icons-right">
        {{ form.password(class_="input") }}
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        {% for error in form.password.errors %}
        <p class="help is-danger">[{{ error }}]</p>
        {% endfor %}
        </p>
    </div>
    <div class="field">
        <div class="control">
          <label class="checkbox">
            {{ form.remember_me() }}
            {{ form.remember_me.label }}
          </label>
        </div>
      </div>
    <div class="field">
        <p class="control">
          <button class="button is-success is-fullwidth">
            Login
          </button>
        </p>
        <p class="content mt-2 mb-5 pb-4 is-grey is-hidden-mobile">
            <span class="is-pulled-left">Don't have account yet? <a class="ml-2" href="{{ url_for('auth.register') }}">Sign Up</a></span>
            <span class="is-pulled-right">Forgot Password? <a class="ml-2" href="{{ url_for('auth.reset_password_request') }}">Reset</a></span>
        </p>
        <p class="mt-2 mb-5 pb-4 is-grey is-hidden-tablet">
            <small class="helper">Don't have account yet? <a class="ml-2" href="{{ url_for('auth.register') }}">Sign Up</a></small><br>
            <small class="helper">Forgot Password? <a class="ml-2" href="{{ url_for('auth.reset_password_request') }}">Reset</a></small>
        </p>
    </div>
</form>