<section class="mt-6 section">
    <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
        {% if prev_url %}
        <a class="pagination-previous has-background-primary has-text-white" href="{{ prev_url }}">
            Previous
        </a>
        {% endif %}
        {% if next_url %}
            <a class="pagination-next has-background-primary has-text-white" href="{{ next_url }}">
                Next page
            </a>
        {% endif %}
      <!-- <ul class="pagination-list">
        <li><a class="pagination-link has-background-primary has-text-white" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis has-text-primary">&hellip;</span></li>
        <li><a class="pagination-link has-background-primary has-text-white" aria-label="Goto page 45">45</a></li>
        <li><a class="pagination-link is-current has-background-primary has-text-white" aria-label="Page 46" aria-current="page">46</a></li>
        <li><a class="pagination-link has-background-primary has-text-white" aria-label="Goto page 47">47</a></li>
        <li><span class="pagination-ellipsis has-text-white">&hellip;</span></li>
        <li><a class="pagination-link has-background-primary has-text-white" aria-label="Goto page 86">86</a></li>
      </ul> -->
    </nav>
  </section>