<section class="mt-5" style="overflow: hidden;">
  <div class="box">
      <article class="media mb-5">
        <div class="media-left">
          <figure class="image is-64x64 is-square">
            <a href="{{ url_for('users.user', username=poem.author.username) }}">
              <img class="is-rounded has-ratio" src="{{ url_for('static', filename='profile_pics/' + poem.author.image_file)  }}" alt="Image">
            </a>
          </figure>
        </div>
        <div class="media-content">
          <strong>
            <a href="{{ url_for('users.user', username=poem.author.username) }}" class="title is-4">
                {{ poem.author.username }}
            </a>
        </strong>
        <small class="content">{{ moment(poem.created_at).fromNow() }}</small>
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-dark"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <span class="tag is-info"><a href="" class="has-text-white">Contact Me</a></span>
            </div>
          </div>
          <p class="subtitle is-5">
            {{ poem.title}} - <span class="tag is-primary">{{ poem.category.name}}</span>
          </p>
        </div>
      </article>
      {% if poem.audio %}
      <div class="control">
        <div class="tags has-addons is-pulled-right">
          <span class="tag is-dark"><i class="fa fa-headphones" aria-hidden="true"></i></span>
          <span class="tag is-info"><a href="" class="has-text-white">Listen Poem</a></span>
        </div>
      </div>
      {% endif %}
      <hr>
      <div class="content">
        <p class="is-size-5 short-text" style="white-space: pre-line;">
          {{ poem.body | truncate(255, False, end="...") }}
          {% if poem.body | length() > 255 %}
          <a onclick="toggleText(event)" class="m-0 p-0">Read More</a>
          {% endif %}
        </p>
          <p class="is-size-5 full-text" style="white-space: pre-line;">
            {{ poem.body }} 
            <a onclick="toggleText(event)" class="readMore">Read less</a>
          </p>
      </div>
      <hr>
      <nav class="level px-5 is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fas fa-reply" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fas fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="like">
              <span class="icon is-small">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </nav>
        <hr>

        {% if current_user.is_authenticated %}
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32 is-square">
              <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" class="is-rounded" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <div class="field">
                <div class="control">
                  {% include 'partials/comment_form.html' %}
                </div>
              </div>
            </div>
          </div>
          </article>
    {% endif %}
  </div>
</section>