<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class_="form-control") }}
        {% for error in form.username.errors %}
        <small class="form-text text-danger">[{{ error }}]</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class_="form-control") }}
        {% for error in form.email.errors %}
        <small class="form-text text-danger">[{{ error }}]</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
        {% for error in form.password.errors %}
        <small class="form-text text-danger">[{{ error }}]</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password2.label }}
        {{ form.password2(class_="form-control") }}
        {% for error in form.password2.errors %}
        <small class="form-text text-danger">[{{ error }}]</small>
        {% endfor %}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary form-control">Submit</button>
        <small id="emailHelp" class="form-text text-muted">Already have an account? <a href="{{ url_for('auth.login') }}">Sing In</a></small>
    </div>
</form>