<div class="box tabs is-toggle is-toggle-rounded is-centered mb-1">
    <ul>
      <li class="is-active form-tab" onclick="changeFormTab(this, 'poemSearch')">
        <a>
          <span>Search By Poem Content</span>
        </a>
      </li>
      <li class="form-tab" onclick="changeFormTab(this, 'categorySearch')">
        <a>
          <span>Search By Category</span>
        </a>
      </li>
      <li class="form-tab" onclick="changeFormTab(this, 'authorSearch')">
        <a>
          <span>Search By Author</span>
        </a>
      </li>
    </ul>
</div>