<section class="mt-5" style="overflow: hidden;">
    <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64 is-square">
              <a href="{{ url_for('users.user', username=poem.author.username)}}">
                <img class="is-rounded has-ratio" src="{{ url_for('static', filename='profile_pics/' + poem.author.image_file)  }}" alt="Image">
              </a>
            </figure>
          </div>
          <div class="media-content">
            <strong>
              <a href="{{ url_for('users.user', username=poem.author.username) }}" class="title is-4">
                  {{ poem.author.username }}
              </a>
          </strong>
          <small class="content">{{ moment(poem.created_at).fromNow() }}</small>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-dark"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <span class="tag is-info"><a href="" class="has-text-white">Contact Me</a></span>
              </div>
            </div>
            <p class="subtitle is-5">
              {{ poem.title}} - <span class="tag is-primary">{{ poem.category.name}}</span>
            </p>
          </div>
        </article>
        <hr class="mb-0">
        {% if poem.audio %}
          <div class="control mb-2">
            <div class="tags has-addons is-pulled-right">
              <span class="tag is-dark"><i class="fa fa-headphones" aria-hidden="true"></i></span>
              <span class="tag is-info"><a href="" class="has-text-white">Listen Poem</a></span>
            </div>
          </div>
        {% endif %}
        <div class="content">
          <p class="is-size-6 short-text" style="white-space: pre-line;">
            {{ poem.body | truncate(255, False, end="...") }}
            {% if poem.body | length() > 255 %}
            <a onclick="toggleText(event)" class="m-0 p-0">Read More</a>
            {% endif %}
          </p>
            <p class="is-size-6-mobile is-size-6-desktop full-text" style="white-space: pre-line;">
              {{ poem.body }} 
              <a onclick="toggleText(event)" class="readMore">Read less</a>
            </p>
        </div>
        <hr>
        <nav class="level px-5 is-mobile">
            <div class="level-left">
              <a class="level-item" data-poem-id="{{poem.id}}" onclick="showLike({{ poem.id}}, {{current_user.id}})">
                <span class="icon is-small">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </span>
              </a>
                <div id="like-{{poem.id}}" class="level-item">
                  {% if poem.liked|length > 0 %}
                    <p class="help">{{poem.get_short_user_likes() }}</p>
                  {% endif %}
                </div>
            </div>
            {% if poem.author == current_user %}
              <div class="level-right">
                <div class="level-item">
                  <a href="{{ url_for('poems.update_poem', id=poem.id)}}" class="button is-primary is-small is-rounded">update</a>
                </div>
                <div class="level-item">
                  <a href="{{ url_for('poems.delete_poem', id=poem.id)}}" class="button is-danger is-small is-rounded">delete</a>
                </div>
              </div>
            {% endif %}
          </nav>
          <hr>
  
          {% if current_user.is_authenticated %}
            {% include "forms/comments/create_comment_form.html" %}
          {% endif %}
          {% include "partial/comment_list.html" %}
    </div>
  </section>