<article class="media">
    <div class="media-left">
      <figure class="image is-32x32 is-square">
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" class="is-rounded" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <div class="field">
          <div class="control">
          <form id="comment-form-{{poem.id}}" action="" method="post" onsubmit="commentSubmit(event, {{poem.id}})">
                {{ comment_form.hidden_tag() }}
                {{ comment_form.parent_id }}
                {{ comment_form.body(class_="input is-small is-rounded", placeholder="write a comment") }}
            </form>
          </div>
        </div>
      </div>
    </div>
</article>
