<!DOCTYPE html>
<html style="background-color: #edeff0;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - Poems</title>
        {% else %}
        <title>Welcome to Poems</title>
        {% endif %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" >
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <header>
            {% include "partials/nav.html" %}
        </header>

        <main class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        {% block dashboard_menu %}

                        {% endblock %}
                    </div>
                    <div class="column is-two-thirds">
                        <section>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                <div class="mb-5">
                                        {% for category, message in messages %}
                                        {% if category=='message' %} {% set category = 'info' %} {% endif %}
                                        <div class="notification is-{{ category }}">
                                            <button class="delete"></button>
                                            {{ message }}
                                        </div>
                                        {% endfor %}
                                </div>
                                    {% endif %}
                                {% endwith %}
                        </section>
                    {% block content %}{% endblock %}
                    </div>
                    {% block side_menu %}
                        <div class="column section is-hidden-mobile">
                            {% include "partials/aside.html" %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </main>

        <footer class="footer has-background-dark">
            <div class="content has-text-centered has-text-white">
              <p>
                <strong>Poems</strong> by <a href="#">Turaboy Holmirzev</a>. The source code is licensed
                <a href="#">MIT</a>. The website content
                is licensed <a href="#">CC BY NC SA 4.0</a>.
              </p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        {{ moment.include_moment() }}
        <script>
            function toggleText(e) {
                if (e.target.text.trim().toLowerCase() == "read more") {
                    e.target.parentNode.style.display = "none";
                    e.target.parentNode.nextElementSibling.style.display = "block"
                }
                else {
                    e.target.parentNode.style.display = "none";
                    e.target.parentNode.previousElementSibling.style.display = "block"
                }
            }

            $(document).ready(function() {

                // Check for click events on the navbar burger icon
                $(".navbar-burger").click(function() {

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    $(".navbar-burger").toggleClass("is-active");
                    $(".navbar-menu").toggleClass("is-active");

                });
            });
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                    });
                });
            });

            const fileInput = document.querySelector('#file-js-example input[type=file]');
            fileInput.onchange = () => {
                if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-js-example .file-name');
                fileName.textContent = fileInput.files[0].name;
                }
            }
        </script>
    </body> 
</html> 