{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            {% if image_file %} 
            <td><img src="{{ image_file }}"></td>
            {% else %}
            <td><img src="{{ user.avatar(128) }}"></td>
            {% endif %}
            
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for poem in poems %}
    <table>
        <tr valign="top">
            {% if image_file  %} 
            <td><img src="{{ image_file }} " class="img-thumbnail" style="width: 40px; height: 40px;" ></td>
            {% else %}
            <td><img src="{{ user.avatar(48) }}"></td>
            {% endif %}
            <td>{{ poem.author.username }} says:<br>{{ poem.body }}</td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}