<form class="box"  action="" method="post">
    {{ form.hidden_tag() }}
    <h2 class="has-text-centered title">{{title}} Category</h2>
    <div class="field">
        {{ form.name.label(class_="label") }}
        <p class="control">
        {{ form.name(class_="input") }}
        {% for error in form.name.errors %}
        <p class="help is-danger">[{{ error }}]</p>
        {% endfor %}
        </p>
    </div>
    <div class="field">
        <p class="control">
          <button class="button is-success is-fullwidth">
            {{title}}
          </button>
        </p>
    </div>
</form>